GeneratorFlow.json
[{"id":"8648a8cc.a734f8","type":"function","z":"ae715962.8d9828","name":"generate SEMIOT code","func":"T=msg.payload;\nvar J =\"[\";\nfor (i = 0; i < T.length; i++) \n{\n   node=T[i];\n   nodeS= {\n        \"id\": node.id,\n        \"type\": \"SEMIOT\",\n        \"z\": node.z,\n        \"security\": \"\",\n        \"typeL\": \"\",\n        \"x\": node.x,\n        \"y\":node.y,\n        \"wires\":node.wires,\n      \n    }\n   J=J+JSON.stringify(nodeS);\n    if(i!=T.length-1)\n    J+=\",\";\n}\nmsg.payload=J+\"]\";\nreturn msg ;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["1b6146c2.acae89"]]},{"id":"1b6146c2.acae89","type":"debug","z":"ae715962.8d9828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":180,"wires":[]},{"id":"dfe6cade.a268b8","type":"inject","z":"ae715962.8d9828","name":" your red-node code ","topic":"","payload":"[{\"id\":\"d6889e05.6fb718\",\"type\":\"inject\",\"z\":\"1b3d79dc.828f1e\",\"name\":\"Temp\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"120\",\"crontab\":\"\",\"once\":false,\"x\":94.5,\"y\":86,\"wires\":[[\"87c8aafc.ae1fd\"]]},{\"id\":\"e650a6a6.e6fd7\",\"type\":\"inject\",\"z\":\"1b3d79dc.828f1e\",\"name\":\"presence\",\"topic\":\"\",\"payload\":\"\",\"payloadType\":\"date\",\"repeat\":\"60\",\"crontab\":\"\",\"once\":false,\"x\":100,\"y\":200,\"wires\":[[\"87c8aafc.ae1fd\",\"46792d8a.dae594\"]]},{\"id\":\"87c8aafc.ae1fd\",\"type\":\"function\",\"z\":\"1b3d79dc.828f1e\",\"name\":\"Analyse\",\"func\":\"\",\"outputs\":1,\"noerr\":0,\"x\":270.5,\"y\":148,\"wires\":[[\"1a9dbf24.ab9821\",\"ba7d0e15.64113\"]]},{\"id\":\"1a9dbf24.ab9821\",\"type\":\"websocket out\",\"z\":\"1b3d79dc.828f1e\",\"name\":\"HomeService\",\"server\":\"\",\"client\":\"\",\"x\":440,\"y\":160,\"wires\":[]},{\"id\":\"46792d8a.dae594\",\"type\":\"websocket out\",\"z\":\"1b3d79dc.828f1e\",\"name\":\"SurveillanceService\",\"server\":\"\",\"client\":\"\",\"x\":430,\"y\":240,\"wires\":[]},{\"id\":\"ba7d0e15.64113\",\"type\":\"debug\",\"z\":\"1b3d79dc.828f1e\",\"name\":\"TempActuator\",\"active\":true,\"console\":\"false\",\"complete\":\"payload\",\"x\":426.5,\"y\":39,\"wires\":[]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["8648a8cc.a734f8"]]}]